body{
    background-color: black;
    font-family: Another day in Paradise;
}
h1{
    width:50vw;
    text-align: center;
    align-content: center;
    margin-left: 25vw;

}

@font-face{
    font-family: Another day in Paradise;
    src: url('Another_day_in_Paradise.ttf');
}

.accueilF{
    background-color: rgb(0, 0, 0);
    display: block;
    margin-top: -7vw;


}

.messF{
    background-color: white;
    color: black;
    letter-spacing: 3px;
    border-radius: 50px;
    align-content: center;
    margin-bottom: 0.5vw;
}

.portal{
    background-color: white;
    text-align: center;
    align-content: center;
    margin-left: 22vw;
    width:56vw;
    margin-top: 1vw;
    font-size: 3vw;
    text-decoration: underline;
    border-radius: 50px;
}

a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    
}

.accueilA{
    background-color: rgb(0, 0, 0);
    display: block;
    margin-top: -5vw;


}

.messA{
    background-color: white;
    color: black;
    letter-spacing: 3px;
    border-radius: 50px;
    align-content: center;
    margin-bottom: 0.5vw;
}

#fr1{
    background-color: white;
    opacity:0.20;
    font-size: 3.5vw;
    margin-top:10vw;
}

#fr2{
    background-color: white;
    opacity:0.45;
    font-size: 3vw;
}

#fr3{
    background-color: white;
    opacity:0.70;
    font-size: 2.5vw;
}

#fr4{
    background-color: white;
    opacity:0.95;
    font-size:2vw;
}

#an1{
    background-color: white;
    opacity:0.95;
    font-size: 3.5vw;
    margin-top:6vw;
}

#an2{
    background-color: white;
    opacity:0.70;
    font-size: 3vw;
}

#an3{
    background-color: white;
    opacity:0.45;
    font-size: 2.5vw;
}

#an4{
    background-color: white;
    opacity:0.20;
    font-size:2vw;
}
