body{
    background-color: black;
    font-family: Another day in Paradise;
}
h1{
    width:50vw;
    text-align: center;
    align-content: center;
    margin-left: 25vw;

}

@font-face{
    font-family: Another day in Paradise;
    src: url('Another_day_in_Paradise.ttf');
}

.accueilF{
    background-color: rgb(0, 0, 0);
    display: block;
    margin-top: -7vh;


}

.messF{
    background-color: white;
    color: black;
    letter-spacing: 3px;
    border-radius: 3vw;
    align-content: center;
    margin-bottom: 0.5vh;
}

@keyframes portal{
  from {opacity: 1;}
  to {opacity: 0.2;}
}

.portal{
    background-color: white;
    text-align: center;
    align-content: center;
    margin-left: 22vw;
    width:56vw;
    margin-top: 1vh;
    font-size: 3vw;
    text-decoration: underline;
    border-radius: 3vw;
    animation-name: portal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



a{
    color:rgb(0, 0, 0);
    text-decoration: none;

}

.accueilA{
    background-color: rgb(0, 0, 0);
    display: block;
    margin-top: -5vw;


}

.messA{
    background-color: white;
    color: black;
    letter-spacing: 3px;
    border-radius: 50px;
    align-content: center;
    margin-bottom: 0.5vw;
}

.hpage{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: calc(20px + 0.4vw);
  text-align: left;
  font-family: Another day in Paradise;
  margin-left: 2vw;
  margin-top: 0vh;
  z-index: 4;
  opacity: 0.8;
}


#fr1{
    background-color: white;
    opacity:0.20;
    font-size: 3.5vw;
    margin-top:20vh;
}

#fr2{
    background-color: white;
    opacity:0.45;
    font-size: 3vw;
}

#fr3{
    background-color: white;
    opacity:0.70;
    font-size: 2.5vw;
}

#fr4{
    background-color: white;
    opacity:0.95;
    font-size:2vw;
}

#an1{
    background-color: white;
    opacity:0.95;
    font-size: 3.5vw;
    margin-top:6vw;
}

#an2{
    background-color: white;
    opacity:0.70;
    font-size: 3vw;
}

#an3{
    background-color: white;
    opacity:0.45;
    font-size: 2.5vw;
}

#an4{
    background-color: white;
    opacity:0.20;
    font-size:2vw;
}
