body{
  background-color: black;
  display: block;
  margin: 0; height: auto;
}

h1{
  color: white;
  z-index: 2;
}

#titrenom{
  text-align: center;
  font-size: calc(20px + 2vw);
  /* font-family: Aloja; */
  z-index: 2;
  display: inline;
  position: relative;
}

#status{
  text-align: center;
  font-size: calc(0.5rem + 2vw);
  color: white;
  top: 10vw;
  z-index: 2;
  display: inline;
  position: relative;
  /* font-family: Aloja; */
}

a{
    color:rgb(240, 230, 235);
    /* text-decoration: underline; */
}

.square1{
  background-color: #90FF00;
  display: inline-block;
  position: absolute;
  margin: 0;  width: 50vw; height: 50vh;
  z-index: 0;
  animation-name: square1color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes square1color {
  0%   {background-color: #90FF00;}
  25%  {background-color: #5E00FF;}
  50%  {background-color: #00F2FF;}
  75%  {background-color: #E900FF;}
  100% {background-color: #90FF00;}
}

.square2{
  background-color: #E900FF;
  display: inline-block;
  position: absolute;
  margin-left: 50vw; width: 50vw; height: 50vh;
  z-index: 0;
  animation-name: square2color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes square2color {
  0%   {background-color: #E900FF;}
  25%  {background-color: #90FF00;}
  50%  {background-color: #5E00FF;}
  75%  {background-color: #00F2FF;}
  100% {background-color: #E900FF;}
}

.square3{
  background-color: #5E00FF;
  display: inline-block;
  position: absolute;
  margin-top: 50vh; width: 50vw; height: 50vh;
  z-index: 0;
  animation-name: square3color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes square3color {
  0%   {background-color: #5E00FF;}
  25%  {background-color: #00F2FF;}
  50%  {background-color: #E900FF;}
  75%  {background-color: #90FF00;}
  100% {background-color: #5E00FF;}
}

.square4{
  background-color: #00F2FF;
  display: inline-block;
  position: absolute;
  margin-top: 50vh; margin-left: 50vw; width: 50vw; height: 50vh;
  z-index: 0;
  animation-name: square4color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes square4color {
  0%   {background-color: #00F2FF;}
  25%  {background-color: #E900FF;}
  50%  {background-color: #90FF00;}
  75%  {background-color: #5E00FF;}
  100% {background-color: #00F2FF;}
}
