body{
  background-color: black;
}

h1{
  color: white;
}

@font-face{
    font-family: Aloja;
    src: url('Aloja-Light.otf');
}

@font-face{
    font-family: Westfalia;
    src: url('Westfalia-Regular.otf');
}

@font-face{
    font-family: Leafy;
    src: url('leafy.otf');
}

#titrenom{
  text-align: center;
  font-size: calc(50px + 2vw);
  font-family: Aloja;
}

a{
    color:rgb(240, 230, 235);
    text-decoration: underline;
}



.longLife{
  width: 25vw;
  margin-left:13vw;
  margin-top:30vh;
  text-align:center;
  align-content:center;
  font-family: Westfalia;
  font-size: calc(20px + 0.5vw);
  color: white;
  position:absolute;
  z-index: 4;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.75;
}

.longLife:hover{
  filter: blur(0px);
}

.city{
  width: 25vw;
  margin-left:58vw;
  margin-top:10vh;
  text-align:center;
  align-content:center;
  font-family: Westfalia;
  font-size: calc(20px + 0.5vw);
  color: white;
  position:absolute;
  z-index: 4;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.75;


}

.city:hover{
  filter: blur(0px);
}

.notSexual{
  width: 25vw;
  margin-left:40vw;
  margin-top:25vh;
  text-align:center;
  align-content:center;
  /*font-family: Westfalia;*/
  font-size: calc(20px + 0.5vw);
  color: white;
  position:absolute;
  z-index: 4;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.75;
}

.notSexual:hover{
  filter: blur(0px);
}

.artWork{
  width: 25vw;
  position: absolute;

  z-index: 1;
  -webkit-filter: blur(5px);
    filter: blur(5px);
    background-color: black;
    padding: 10px 10px;
    border-radius: 100px;
}



#art1{
  left: 40vw;
  top: 30vh;
  z-index: 3;


}

#art2{
  left: 62vw;
  top: 25vh;
  z-index: 2;
}

#art3{
  left: 50vw;
  top: 50vh;
}

#art4{
  left: 7vw;
  top: 25vh;
}
