body{
    background: url(fatineBack.jpg) no-repeat center center fixed;
    background-size:cover;
    position: relative;
}

@font-face{
    font-family: Subway Novella;
    src: url('SubwayNovellaDEMO.ttf');
}

a{
    color:rgb(240, 230, 235);
    text-decoration: none;
}

.belleza {
    width:300px;
    height: auto;
    margin: 25% auto 0 auto;
    display: none;
}

.linda{
    display:block;
    width:400px;
    height:auto;
    margin: 25% auto 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    
}

.bug{
    width:40px;
    position: absolute;
    display:block;
    z-index:3;

}

#b1{
    margin-left: -200px;
    margin-top: -400px;
}

#b2{
    margin-left:200px;
    margin-top:50px;
}

#b0{
    margin-left: -500px;
    margin-top: 0px;
}

#b3{
    margin-top: -50px;
    margin-left: -200px;
}

.alixArt{
    margin-left:0px;
    margin-top:0px;
    top:0px;
    left:0px;
    width: 200px;
    height: auto;
    opacity: 0;
    z-index: 2;
    position: absolute;
    display:block;
}

.poem{
    margin-left: 10vw;
    top:10vw;
    font-family: Subway Novella;
    width:0px;
    height:auto;
    color: rgb(255, 255, 255);
    font-size: 30px;
    opacity: 1;
}
